* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.ui.cards > .card > .image {
  height: 250px;
  padding: 20px;
  background: #fff;
  margin: auto;
}
.ui.cards > .card > .image > img {
  height: 100%;
  max-width: 100%;
  width: auto;
}
.ui.cards > .card > .content > .header {
  height: 48px;
  overflow: hidden;
  margin-bottom: 5px;


}
.ui.cards > .card > .content > .description {
  height: 36px;
  margin-bottom: 0px;
  overflow: hidden;
}
.ui.cards > .card .meta.price {
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.ui.cards > .card .meta.price > a {
  font-size: 1.3rem;
  color: #222;
}

.ui.menu.fixed {
  height: 60px;
  padding-top: 15px;
  
}

.ui.grid.container {
  margin-top: 45px;
  
}

.ui.grid > .row {
  background: #fff;


}
.ui.grid > .row > .column.lp {
  padding: 20px 40px 20px 20px;
  align-self: flex-start !important;


}
.ui.grid > .row > .column.rp {
  padding: 20px 20px 20px 40px;
  text-align: left;
  align-self: flex-start !important;


}

.ui.grid > .row > .column > img,
.ui.grid > .row > img {
  height: 100%;
}
.ui.placeholder .header:not(:first-child):before,
.ui.placeholder .image:not(:first-child):before,
.ui.placeholder .paragraph:not(:first-child):before {
  display: none;
}

.ui.label,
.ui.labels .label {
  font-size: 22px;
}

.column.rp h1 {
  color: #333;
}
.column.rp p {
  font-size: 18px;
  color: #777;
}
.ui.placeholder.segment .column .button,
.ui.placeholder.segment .column .field,
.ui.placeholder.segment .column textarea,
.ui.placeholder.segment .column > .ui.input {
  background-color: #ff3e6c;
  border: 1px solid #ff3e6c;
  color: #fff;
  font-size: 18px;
  margin-left: 0;
}



.cartButton{ 
  display: flex;
  flex-direction: row;
  width: 50px;
  margin: 0 auto;
  background-color: #ff3e6c;
  border: 1px solid #ff3e6c;

  border: 1px solid ff3e6c;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  margin-left: 0;
  width: 100px;
  height: 30px;
  margin-bottom: 30px;
  justify-content: center;
  cursor: pointer;
}


.cartButton div{
  color: white;
  margin: 2px 5px  0 5px;
}


.cartButtonDiv button div{ 
  color: white;
  margin: 2px 5px  0 5px;
}
.generalContainer{
padding-top: 80px;

}
.select{
  margin-top: 1000px;
  display: block;
}

/* ///////////////////////////////////////////// */

.cart {
  margin: 5rem auto;
  width: 1100px;
  display: flex;
  justify-content: space-between;
}

.cart__items {
  flex: 0.7;
  margin-right: 1rem;
}

.cart__summary {
  height: 250px;
  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.summary__title {
  font-size: 1.2rem;
  font-weight: bold;
}

.summary__price {
  display: flex;
  align-items: center;
}

.summary__price span:nth-child(1) {
  font-size: 0.9rem;
  flex: 0.6;
}

.summary__price span:nth-child(2) {
  flex: 0.4;
  font-size: 1.2rem;
  font-weight: bold;
}

.summary__checkoutBtn {
  padding: 10px 17px;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  background: var(--primary-color);
  color: var(--light-color);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.summary__checkoutBtn:focus {
  outline: none;
  border: 1px solid var(--secondary-color);
}

.summary__checkoutBtn:hover {
  opacity: 0.75;
}

